.commentInput {
    height: 140px;
    width: 560px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

textarea {
    border-radius: 5px;
    border-color: hsl(239, 57%, 85%);
    padding: 10px;
    font-family: Rubik;
    resize: none;
}

.button {
    margin-bottom: 45px;
    margin-left: 10px;
    background-color: hsl(238, 40%, 52%);
    padding: 12px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 5px;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
}

.userAvatar {
    margin-right: 25px;
    margin-bottom: 45px;
    width: 40px;
    height: 40px;
}